body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

#trademark {
  font-size:10px;
  vertical-align: super;  
}

#banner {
  background-color: rgb(116, 119, 191);
  color: white;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box; 
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#banner-personal {
  display: flex;
  align-items: center;
}

#logo {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
}
  
#logo {
  font-size: 24px;
}

#logo,
#banner-right {
  text-align: center;
}

#notification {
  display: block;
  float: right;
  width: 100%;
}

#notification img {
  height: 23px;
  width: 23px;
}

#divider {
  height: 100%;
  width: 1px;
  background-color: black;
  opacity: .15;
  display: none;
}

#avatar img {
  height: 35px;
  width: 35px;
  border-style: hidden;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}

#name {
  font-size: .9em;
}

@media (min-width: 768px) {
  
  
  #banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }  
  
  #logo {
    margin-left: 25px;
  }
  
  #logo,
  #banner-right {
    text-align: initial;
  }
  
  #divider {
    display: inline-block;
  }
  
  #notification {
    margin-right: 20px;  
    width: auto;
  }
  
  #banner-right {
    vertical-align: middle;
    float:right;
    margin-right: 25px;
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  
  #avatar {
    float: left;
  }
  
  #name {
    float: right;
  }
  
  #banner-personal {
    display: flex;
    align-items: center;
}