body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

/* Banner */

#trademark {
  font-size:10px;
  vertical-align: super;  
}

#banner {
  background-color: rgb(116, 119, 191);
  color: white;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box; 
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#banner-personal {
  display: flex;
  align-items: center;
}

#logo {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
}
  
#logo {
  font-size: 24px;
}

#logo,
#banner-right {
  text-align: center;
}

#notification {
  display: block;
  float: right;
  width: 100%;
}

#notification img {
  height: 23px;
  width: 23px;
}

#divider {
  height: 100%;
  width: 1px;
  background-color: black;
  opacity: .15;
  display: none;
}

#avatar img {
  height: 35px;
  width: 35px;
  border-style: hidden;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}

#name {
  font-size: .9em;
}

/* Navigation */

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(77,76,114);
}

.nav-box:nth-child(1) {
  border: 3px solid transparent;
  border-bottom: 3px solid rgb(133,219,128);
}

.nav-box:nth-child(1n+2) {
  border: 3px solid transparent;
}

.nav-box:nth-child(1n+2) path {
  fill: rgb(166,166,185);
}

svg {
  height: 32px;
  width: 32px;
  margin: 15px;
}

/* Main */

#main {
  width: 100%;
  position: relative;
  background-color: rgb(255,255,255);
}

/* Search bar */

#search {
  height: 65px;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251,251,251);
}

#search-wrapper {
  height: 50%;
  width: 288px;
  position: relative;
}

#search input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
  display: inline-block;
  box-sizing: border-box;
}

#search input::placeholder {
  font-family: 'Quicksand', sans-serif;
  color: lightgray;
}

#search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

#tab {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

/* Alert */

#alert-container {
  padding: 0 20px;
}

#alert {
  background-color: rgb(116, 119, 191);
  color: white;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-close {
  float: right;
  margin-left: 10px;
}

/* Web traffic chart */

.chart-option {
  padding: 5px 15px;
}

.selected {
  color: white;
  background-color: rgb(129,201,143);
  border-radius: 15px;
}
  
#web-traffic-container {
  position: relative;
}

.hide {
  display: none;
}

#web-traffic-chart-header {
  padding: 20px;
}

#web-traffic-chart-title {
  display: flex;
  justify-content: center;
}

#web-traffic-options {
  display: flex;
  justify-content: space-around;
  color: gray;
  font-size: .8em;
  font-weight: bolder;
  padding-top: 10px;
}

/* Bar and pie charts */

#bar-chart-container,
#pie-chart-container {
  position: relative;
}

#pie-chart-container {
  padding-left: 20px;
  padding-right: 20px;
}

#bar-chart-header,
#pie-chart-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Social Media Stats */

#social-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#social-container {
  display: flex;
  flex-direction: column;
}

.social-stats {
  color: rgb(116, 119, 191);
  background-color: rgb(251, 251, 251);
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.social-stats:first-child {
  padding-left: 25px;
}

.social-icon-container {
  background-color: rgb(115, 119, 191);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#facebook {
  transform: scale(1.1, 1.3);
}

.social-icon-container svg path {
  fill: white;
}

.social-header {
  font-weight: bold;
}

.social-number {
  font-size: 3em;
  color: dimgray;
}

/* New Members */

#members-header {
  width: 125px;
  margin: 0 auto;
  padding: 20px 0;
}

.member-info,
.member-name,
.member-join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.email {
  color: rgb(116, 119, 191); 
}

hr {
  background-color: lightgray;
  margin: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  
  /* Banner */
  
  #banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }  
  
  #logo {
    margin-left: 25px;
  }
  
  #logo,
  #banner-right {
    text-align: initial;
  }
  
  #divider {
    display: inline-block;
  }
  
  #notification {
    margin-right: 20px;  
    width: auto;
  }
  
  #banner-right {
    vertical-align: middle;
    float:right;
    margin-right: 25px;
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  
  #avatar {
    float: left;
  }
  
  #name {
    float: right;
  }
  
  #banner-personal {
    display: flex;
    align-items: center;
  }
  
  /* Navigation */
  
  #wrapper {
    flex-direction: row;
  }
  
  #nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .nav-box {
    margin-top: 15px;
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .nav-box:nth-child(1) {
    border: 3px solid transparent;
    border-left: 3px solid rgb(133,219,128);
  }
  
  svg {
    vertical-align: middle;
  }
  
  /* Main */
  
  #main {
    width: calc(100% - 98px);
  }
  
  /* Search bar */
  
  #search {
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 20px;
    border-bottom: 1px solid lightgray;
  }
  
  #search-wrapper {
    width: 50%;
  }
  
  #tab {
    justify-content: flex-start;
    padding: 0 20px;
    position: absolute;
    top: 0px;
    background-color: rgb(255,255,255);
    border-right: 1px solid lightgray;
    border-bottom: 1px solid white;
  }
  
  /* Alert */
  
  #alert-container {
    padding: 20px;
  }
  
  #alert {
    padding: 15px;
  }
  
  /* Bar and pie charts */

  #bar-pie-chart {
    display: flex;
    margin-top: 20px;
  }
  
  #bar-pie-chart-div1,
  #bar-pie-chart-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
  }
  
  #bar-pie-chart-div1 {
    border-right: 1px solid lightgray;
  }
  
  #bar-pie-chart-div2 {
    padding-right: 40px;
  }
  
  #bar-chart-container,
  #pie-chart-container {
    width: 100%;
  }
  
  /* New Members */
  
  .member-listing {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .member-info {
    flex-direction: row;    
  }
  
  .member-pic {
    margin-right: 10px;
  }
  
  .member-name {
    align-items: flex-start;
}

@media (min-width: 1024px) {
  #alert {
    font-size: 1em;
  }
  
  /* Social Media Stats */
  
  #social-header {
    justify-content: flex-start;
    padding-left: 40px;
  }
  
  #social-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }
  
  .social-stats {
    justify-content: flex-start;
    padding: 25px;
  }
}