body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

/* Banner */

#trademark {
  font-size:10px;
  vertical-align: super;  
}

#banner {
  background-color: rgb(116, 119, 191);
  color: white;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box; 
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#banner-personal {
  display: flex;
  align-items: center;
}

#logo {
  display: block;
  margin-left: 0;
  margin-bottom: 5px;
}
  
#logo {
  font-size: 24px;
}

#logo,
#banner-right {
  text-align: center;
}

#notification {
  display: block;
  float: right;
  width: 100%;
}

#notification img {
  height: 23px;
  width: 23px;
}

#divider {
  height: 100%;
  width: 1px;
  background-color: black;
  opacity: .15;
  display: none;
}

#avatar img {
  height: 35px;
  width: 35px;
  border-style: hidden;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}

#name {
  font-size: .9em;
}

/* Navigation */

#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(77,76,114);
}

.nav-box:nth-child(1) {
  border: 3px solid transparent;
  border-bottom: 3px solid rgb(133,219,128);
}

.nav-box:nth-child(1n+2) {
  border: 3px solid transparent;
}

.nav-box:nth-child(1n+2) path {
  fill: rgb(166,166,185);
}

svg {
  height: 32px;
  width: 32px;
  margin: 15px;
}

/* Main */

#main {
  width: 100%;
}

/* Search bar */

#search {
  height: 65px;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251,251,251);
}

#search-wrapper {
  height: 50%;
  width: 288px;
  position: relative;
}

#search input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 10px;
  display: inline-block;
  box-sizing: border-box;
}

#search input::placeholder {
  font-family: 'Quicksand', sans-serif;
  color: lightgray;
}

#search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

#tab {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  
  /* Banner */
  
  #banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }  
  
  #logo {
    margin-left: 25px;
  }
  
  #logo,
  #banner-right {
    text-align: initial;
  }
  
  #divider {
    display: inline-block;
  }
  
  #notification {
    margin-right: 20px;  
    width: auto;
  }
  
  #banner-right {
    vertical-align: middle;
    float:right;
    margin-right: 25px;
    height: 40px;
    display: flex;
    flex-direction: row;
  }
  
  #avatar {
    float: left;
  }
  
  #name {
    float: right;
  }
  
  #banner-personal {
    display: flex;
    align-items: center;
  }
  
  /* Navigation */
  
  #wrapper {
    flex-direction: row;
  }
  
  #nav {
    flex-direction: column;
  }
  
  .nav-box {
    margin-top: 15px;
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .nav-box:nth-child(1) {
    border: 3px solid transparent;
    border-left: 3px solid rgb(133,219,128);
  }
  
  svg {
    vertical-align: middle;
  }
}